@model IEnumerable<S_me.Models.Danhmuc>

@{
    ViewBag.Title = "QLDanhmuc";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<link href="~/Content/css/Product.css" rel="stylesheet" />
<link href="~/Content/css/index.css" rel="stylesheet" />
<link href="~/Content/css/Admin.css" rel="stylesheet" />

<center class="QLChung">
    <h2>Quản lý danh mục</h2>

    <p>
        <button class="buy-button">
            @Html.ActionLink("Tạo mới", "DMThem")
        </button>
    </p>
    <div class="container detail-table">
        <div class="detail-tables">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <button class="buy-button">@Html.ActionLink("Edit", "DMSua", new { id = item.DMID })</button>
                            <br>
                            <button class="buy-button">@Html.ActionLink("Details", "DMChitiet", new { id = item.DMID })</button>
                            <br>
                            <button class="buy-button">@Html.ActionLink("Delete", "DMXoa", new { id = item.DMID })</button>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</center>
