@model IEnumerable<S_me.Models.Form>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<link href="~/Content/css/Product.css" rel="stylesheet" />
<link href="~/Content/css/index.css" rel="stylesheet" />
<link href="~/Content/css/Admin.css" rel="stylesheet" />
<center class="QLChung">
    <h2>Form liên hệ</h2>

    <p>
        <button class="buy-button">
            @Html.ActionLink("Thêm mới", "FormThem")
        </button>
    </p>
    <div class="container detail-table">
        <div class="detail-tables">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerEmail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerPhone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerMessage)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerPhone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerMessage)
                        </td>
                        <td>
                            <button class="buy-button">@Html.ActionLink("Edit", "FormSua", new { id = item.formID })</button>
                            <br>
                            <button class="buy-button">@Html.ActionLink("Details", "FormChitiet", new { id = item.formID })</button>
                            <br>
                            <button class="buy-button">@Html.ActionLink("Delete", "FormXoa", new { id = item.formID })</button>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</center>
